.card__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: sans-serif;
    min-height: 0vh;
    background-color: rgb(236, 232, 232);
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease-in-out;
    width: 350px;
    min-height: 350px;
    box-shadow: 1px 5px 10px #888888;
    margin-bottom: 100px;
    color: orange;
    background-color: white;
}

.card__wrapper:hover{
    transform: scale(1.1);
}

/* .card__wrapper > .card__image > img{
    width: 300px;
    object-fit: contain;
} */

.card__h4{
    padding: 15px;
}

.hello {
    background-color: rgb(177, 152, 90);
    padding-bottom: 25px;
}

.card__button > button {
    background-color: rgb(241, 72, 72);
    padding: 15px;
    width: 120px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

.h3__card {
    margin-top: 1px solid black;
    text-align: center;
    padding: 50px 0;
    font-weight: 700;
    font-size: 35px;
}